@layout EmptyLayout
@page "/auth/student"

<AuthorizeView Roles="Coordinator">
    <Authorized>
        <UniLinks.Client.Site.Components.LoggedRedirect IsStudent="false" />
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="Student">
    <Authorized>
        <UniLinks.Client.Site.Components.LoggedRedirect IsStudent="true" />
    </Authorized>
</AuthorizeView>

<div class="alert alert-danger alert-dismissible animated bounceInDown fast @show">
    O email informado está nao está cadastrado!
    <button type="button" class="close" aria-label="Close" @onclick="HideAlert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="login-dark" style="background-image: url(img/user_login.jpg)">
    <form method="post" style="opacity: 0.9">
        <h4 class="text-center" style="color: #adadad">Autenticação</h4>
        <p class="text-center" style="color: #adadad;font-size: 13px">Informe seu email para continuar</p>
        <br />
        <div class="form-group md-form">
            <input class="form-control validate" id="email" type="email" @bind="email" @bind:event="onchange">
            <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="button" @onclick="AuthAccountTaskAsync">AUTENTICAR</button>
        </div>
    </form>
</div>