@{
    ViewData["Title"] = "Sem Permissao";
    Layout = "EmptyLayout";
}

<div class="text-center">
    <p class="py-5">Sem Permissao</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a href="/">Página Inicial</a>
        </li>
        <li class="list-group-item">
            <a asp-action="Auth" asp-controller="Student">Entrar como Estudante</a>
        </li>
        <li class="list-group-item">
            <a asp-action="Auth" asp-controller="Coordinator">Entrar como Coordenador</a>
        </li>
    </ul>
</div>