@{
    ViewData["Title"] = "Nada aqui";
    Layout = "EmptyLayout";
}

<div>
    <div>
        <div class="w-100 text-center mt-5">
            <h1 style="">404 Not Found</h1>
            <div>
                Essa pagina não foi encontrada!
            </div>
            <hr>
                <div>
                    <img class="mt-2 rounded" width="30%" height="30%" src="https://newfastuff.com/wp-content/uploads/2019/06/nEPEHgz.png" alt="Imagem de pagina não encontrada">
                </div>
                <br>
                <hr>
                <a href="http://www.jquery2dotnet.com" class="btn btn-info btn-lg" style="padding: 12px;">
                    <i class="mdi mdi-home" style="vertical-align: middle; font-size: 1.5em"></i>
                    Pagina inicial
                </a>
            </div>
        </div>
    </div>
</div>