@{
    ViewData["Title"] = "Algo de ruim aconteceu";
    Layout = "EmptyLayout";
}

<div>
    <div>
        <div class="w-100 text-center mt-4 container">
            <h1 style="">500 Internal error</h1>
            <p>Ocorreu um erro interno no site que não deveria ter acontecido!</p>
            <hr>
            <div>
                <img width="37%" height="40%" class="mt-2 rounded" src="img/pepe-500.jpeg" alt="Imagem de pagina não encontrada">
            </div>
            <br>
            <hr>
                <a href="/" class="btn btn-info btn-lg" style="padding: 12px;">
                    <i class="mdi mdi-home" style="vertical-align: middle; font-size: 1.5em"></i>
                    Pagina inicial
                </a>
            </div>
        </div>
    </div>
</div>