@{
    ViewData["Title"] = "Nada aqui";
    Layout = "ErrorsLayout";
}

<div class="container" style="padding-top: 3em">
    <div class="row justify-content-center">
        <h2>404 Not Found</h2>
    </div>
    <div class="row justify-content-center">
        <p class="text-center">A página não foi encontrada!</p>
    </div>
    <div class="row justify-content-center">
        <p class="text-center">Verifique se a link está correto, e tente novamente!</p>
    </div>

    <div class="row justify-content-center">
        <img class="img-error" src="img/404_error.png" alt="Imagem de pagina não encontrada">
    </div>

    <div class="row justify-content-center">
        <a href="/" class="btn btn-outline-info" style="border-radius: 2em">
            <i class="mdi mdi-home" style="vertical-align: middle; font-size: 1.5em"></i>Pagina inicial
        </a>
    </div>
</div>