@layout Layout
@page "/coordinator"

<h3>IndexAdminPage</h3>

<ul>
    <li>
        <NavLink href="/coordinator/students">
            Estudantes
        </NavLink>
    </li>
    <li>
        <NavLink href="/coordinator/disciplines">
            Disciplinas
        </NavLink>
    </li>
    <li>
        <NavLink href="/coordinator/lessons">
            Aulas
        </NavLink>
    </li>
</ul>