.theme-bg
{
    background-color: white;
}

.theme-card
{
    background-color: #fdfdfd
}

.theme-text
{
    color: black;
}

    .theme-text:focus
    {
        color: black;
    }

.e-multi-select-wrapper .e-delim-values
{
    color: black;
}

.e-multi-select-wrapper .e-chips-close.e-close-hooker
{
    color: black;
}

.e-input-group .e-input-group-icon,
.e-input-group.e-control-wrapper .e-input-group-icon
{
    background: transparent;
    border-color: rgba(0, 0, 0, 0.42);
    color: black;
}

.e-multi-select-wrapper input[type='text']
{
    background: none;
    border: 0;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    height: 28px;
    min-height: 28px;
    outline: none;
    padding: 0;
    text-indent: 0;
    color: black;
}