@inherits LayoutComponentBase

@using UniLink.Client.Site.Components

<Reconnect />

<aside class="sidebar">
    <Menu />
</aside>

<main role="main" class="main theme-bg theme-text">
    @Body
</main>