@model CourseVO

@{
    ViewData["Title"] = "Curso";
}

<h1>Informaçoes do Curso</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Nome do Curso
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Quantidade de periodos
        </dt>
        <dd class="col-sm-10">
            @Model.Periods
        </dd>
    </dl>
</div>
<div>
    <a>Salvar</a>
</div>
