@{
    ViewData["Title"] = "Algo de ruim aconteceu";
    Layout = "EmptyLayout";
}

<div class="text-center">
    <h1>Error 500</h1>
    <p><a asp-area="" asp-controller="Home" asp-action="Index">Pagina Inicial</a></p>
</div>