@{
    ViewData["Title"] = "Nada aqui";
    Layout = "EmptyLayout";
}

<div class="text-center">
    <h1>Error 404!</h1>
    <p><a asp-area="" asp-controller="Home" asp-action="Index">Pagina Inicial</a></p>
</div>