@page "/auth"

@using UniLink.Client.Site.Services

@inject ThemeService ThemeService

<div class=" d-flex justify-content-center p-3">
    <div class="card form-login" style="@ThemeService.Theme">

        <h4 class="card-header info-color white-text text-center py-3 primary-color-bg">
            <strong>Autenticaçao</strong>
        </h4>

        <!--Card content-->
        <div class="card-body pt-0 py-2">

            <!-- Form -->
            <form class="text-center">

                <!-- Email -->
                <div class="md-form">
                    <input type="email" id="email" class="form-control validate" @bind="email" @bind:event="onchange">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input type="password" id="password" class="form-control" @bind="password" @bind:event="onchange">
                    <label for="password">Password</label>
                </div>

                <!-- Sign in button -->
                <button class="btn peach-gradient btn-block rounded-pill my-4 waves-effect z-depth-0" type="button" @onclick="AuthAccountTaskAsync">
                    <span class="mdi mdi-login mdi-18px" />
                    Entrar
                </button>

                <!-- Register -->
                <p>
                    Esqueceu sua senha?
                    <a href="">Recuperar</a>
                </p>
            </form>
            <!-- Form -->
        </div>
    </div>
</div>