@page "/admin/students"
<div class="container">
    <h1 class="text-center mt-2">Gerenciar Alunos</h1>
    <hr />
    <!--Table-->
    <div class="d-flex justify-content-lg-center">
        <table class="table table-striped table-students">

            <!--Table head-->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <!--Table head-->
            <!--Table body-->
            <tbody>
                <tr class="table-info">
                    <th scope="row">1</th>
                    <td>Marco Antonio Silveira Lima</td>
                    <td>gabriel.sant@gmail.com</td>
                    <td class="icons-td">
                        <button>
                            <span class="mdi mdi-delete"></span>
                        </button>
                        <button>
                            <span class="mdi mdi-account-edit"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Ruan Carlos Rio Branco</td>
                    <td>ruan.cornum@gmail.com</td>
                    <td class="icons-td">
                        <button>
                            <span class="mdi mdi-delete"></span>
                        </button>
                        <button>
                            <span class="mdi mdi-account-edit"></span>
                        </button>
                    </td>
                </tr>
                <tr class="table-info">
                    <th scope="row">3</th>
                    <td>Marco Antonio Silva Pereira</td>
                    <td>contato.spsp@gmail.com</td>
                    <td class="icons-td">
                        <button>
                            <span class="mdi mdi-delete"></span>
                        </button>
                        <button>
                            <span class="mdi mdi-account-edit"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Jerry Colson</td>
                    <td>jerr.ad@gmail.com</td>
                    <td class="icons-td">
                        <button>
                            <span class="mdi mdi-delete"></span>
                        </button>
                        <button>
                            <span class="mdi mdi-account-edit"></span>
                        </button>
                    </td>
                </tr>
                <tr class="table-info">
                    <th scope="row">5</th>
                    <td>Junuario Da Orgas</td>
                    <td>jazie.me@hotmail.com</td>
                    <td class="icons-td">
                        <button>
                            <span class="mdi mdi-delete"></span>
                        </button>
                        <button>
                            <span class="mdi mdi-account-edit"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Gary Pereira Santos</td>
                    <td>pereira.gg@bing.com.br</td>
                    <td class="icons-td">
                        <button>
                            <span class="mdi mdi-delete"></span>
                        </button>
                        <button>
                            <span class="mdi mdi-account-edit"></span>
                        </button>
                    </td>
                </tr>
                <tr class="table-info">
                    <th scope="row">7</th>
                    <td>Angelina Do Santos Rocha</td>
                    <td>angela53@gmail.com</td>
                    <td class="icons-td">
                        <button>
                            <span class="mdi mdi-delete"></span>
                        </button>
                        <button>
                            <span class="mdi mdi-account-edit"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>John Lima Rosa</td>
                    <td>rosa.lima@empresa.com</td>
                    <td class="icons-td">
                        <button>
                            <span class="mdi mdi-delete"></span>
                        </button>
                        <button>
                            <span class="mdi mdi-account-edit"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
            <!--Table body-->


        </table>
    </div>
    <!--Table-->
</div>