@using EnumsNET

@model List<ClassVO>

@{
    ViewData["Title"] = "Salas";
}

@if (Model.Count() == 0)
{
    <p class="text-center p-4">Ops! Não existe nenhuma sala para mostrar! 😢</p>
}
else
{
    <ul id="classesList" class="card-deck list-items animated bounceInUp" style="margin-left: 0; margin-right: 0">

        @foreach (ClassVO item in Model)
        {
            <li class="card mb-4 theme-bg theme-text" style="max-width: 220px; min-width: 220px;  border-radius: 1.2em">
                <div>
                    <div style="position: relative">
                        <div style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;border-radius: 1.2em 1.2em 0em 0em;background-image: url('img/classes.png'); background-size: cover; "></div>
                        <div style="display: flex; flex-direction: column; justify-content: space-between; height: 4.5rem; padding: 1rem 1rem 0.75rem; position: relative;">
                            <h6 style="font-weight: 600; color: white; width: auto; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; ">
                                @(item.WeekDays.AsString(EnumFormat.DisplayName))
                            </h6>
                            <p class="card-text" style="color: #c5c5c5; position: absolute; top: 40px;">
                                @(item.Period)º Período
                            </p>
                        </div>
                    </div>
                    <hr class="separator" style=" margin-top: 0; margin-bottom: 0;" />
                    <div style="padding: 15px">
                        <a href="@item.URI">Abrir Sala</a>
                    </div>
                </div>
            </li>
        }
    </ul>
}