@using EnumsNET

@model List<ClassVO>

@{
    ViewData["Title"] = "Salas";
}

<h3 class="text-center" style="padding: 10px">@ViewData["Title"]</h3>

<div class="card-deck" style="margin: 20px">

    @foreach (var item in Model)
    {
        <div class="card mb-4 theme-bg theme-text" style="max-width: 200px">
            <div class="card-body">

                <h5 class="card-title">@(item.Period)º Período</h5>
                <p class="card-text">
                    @(item.WeekDays.AsString(EnumFormat.Description))
                </p>
                <a class="btn waves-effect btn-success btn-md" href="@item.URI" target="_blank">Abrir Sala</a>
            </div>
        </div>
    }
</div>