@using System.Text.Json;
@using System.Globalization;

@{
    ViewData["Title"] = "Aulas";
}

@model List<LessonDisciplineVO>

<h5 class="text-center theme-text" style="font-weight: 500; margin: 10px">@ViewData["Title"]</h5>
<hr />

<div class="container">
    <article class="row justify-content-center" id="card-lesson">
        <span class="red-text">Selecione uma aula</span>
    </article>

    <div class="row justify-content-center" >
        <div class="card theme-card theme-text" style="border-radius: 2em; margin: 10px; margin-top: 20px; width: 800px">
            <div class="row">
                <div class="col">
                    <div class="md-form" style="margin-bottom: 5px; margin-top: 10px; margin-left: 20px">
                        <input type="text" id="studentLessonsSearch" style="margin: 0;" class="form-control theme-text" placeholder="Pesquisar">
                    </div>
                </div>
                <div class="col" style="max-width: 110px; margin-right: 10px;margin-top: 5px;margin-bottom: 5px; border-radius: 1em; padding-left: 0">
                    <select class="theme-card theme-text" style="border: 0; padding-top: 15%; padding-bottom: 10%">
                        <option disabled aria-disabled="true">Filtar por</option>
                        <option value="1">Disciplina</option>
                        @*<option value="2">Periodo</option>*@
                        @*<option value="3">Data</option>*@
                    </select>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Count == 0)
    {
        <div class="row justify-content-center">
            <span class="text-center">Ops, Nao existe nenhuma aula de suas disciplinas! 🥺</span>
        </div>
    }
    else
    {
        <div class="row justify-content-center">
            <span style="padding-bottom: 20px">Encontradas: @Model.Count</span>
        </div>
        <section id="lessons-list-table" class="row nosection-padding">

            <!-- Modal Assuntos da aula -->
            <div class="modal fade" id="modal-lesson-details" tabindex="-1" role="dialog" aria-labelledby="modal-lesson-details"
                 aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content theme-bg theme-text">
                        <div class="modal-header">
                            <h4 class="modal-title w-100 text-center ml-3" id="myModalLabel">Assuntos da aula</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="font-size: 15px" id="modal-assunto-body">
                            ...
                        </div>
                        <div class="modal-footer border-0 d-flex justify-content-center">
                            <button class="btn btn-gradient waves-effect" data-dismiss="modal" aria-label="Close">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Assuntos da aula -->

            <div class="col-md-12">
                <div class="d-flex justify-content-lg-center">
                    <table class="table table-hover table-students theme-bg theme-text" style="max-width: 600px">
                        <thead>
                            <tr class="collapse">
                                <th scope="col">Disciplina</th>
                                <th scope="col">Data</th>
                            </tr>
                        </thead>
                        <tbody id="studentLessonsTable">
                            @foreach (var lesson in Model)
                            {
                                var durationInDateTime = new DateTime(0001, 01, 01).AddMilliseconds(lesson.Lesson.Duration);
                                var duration = durationInDateTime.ToString(@"HH \hora(\s) e mm \minu\to(\s)");
                                var created = lesson.Lesson.Date.ToString("dd/MM/yyyy");

                                string json = JsonSerializer.Serialize(new
                                {
                                    discipline = lesson.Discipline.Name,
                                    lessonSubject = lesson.Lesson.LessonSubject,
                                    uri = lesson.Lesson.URI,
                                    duration,
                                    created
                                });

                                <tr class="tr-hover tr-lesson" onclick="showLessonCard(@json)">
                                    <td class="text-wrap col-12 unselectable">@lesson.Discipline.Name</td>
                                    <td class="text-wrap col unselectable td-students-lesson" style="color: #6b6b6b; font-size: 0.9em">@created</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    }
</div>

<script>
    $(document).ready(function () {
        $("#studentLessonsSearch").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#studentLessonsTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function showLessonCard({ discipline, lessonSubject, uri, duration, created }) {
        $("#card-lesson").html(`
        <div class="card card-lesson theme-card theme-text">
            <div class="row nowrap-row" style="height: 6em">
                <div class="col-3 image-lesson">
                    <img class="card-lesson-image" src="img/collabRec.jpg" alt="Thumbnail da aula">
                </div>

                <div class="col-8" style="padding-left: 10px;padding-top: 10px;">
                    <h6 style="width: auto;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">${discipline}</h6>
                    <span style=" font-size: 13px; color: grey; top: 30px; position: absolute;" data-toggle="tooltip" data-placement="bottom" title="Duraçao da aula">${duration}</span>
                    <span style="position: absolute;bottom: 5px;left: 10px;font-size: 14px;color: grey;" data-toggle="tooltip" data-placement="bottom" title="Data/hora que a aula foi gravada">Gravado em ${created}</span>
                </div>

                <div class="col-1 text-center">
                    <div style="position: absolute; top: ${lessonSubject != "" && lessonSubject != null ? "10px" : "30px"}; right: 30%" data-toggle="tooltip" data-placement="right" title="Abrir aula">
                        <a class="blue-text" href="${uri}" target="_blank">
                            <i class="mdi mdi-share" style="font-size: 25px"></i>
                        </a>
                    </div>
                    ${
                        lessonSubject != "" && lessonSubject != null ?
                        `<div style="position: absolute; bottom: 10%; right: 30%" data-toggle="tooltip" data-placement="right" title="Assuntos">
                                <a class="blue-text" onclick="showLessonDetails('${lessonSubject}')">
                                    <i class="mdi mdi-file-document-edit-outline" style="font-size: 25px"></i>
                                </a>
                            </div>`
                        : ``
                    }
                </div>
            </div>
        </div>
    `)
    }

    function showLessonDetails(lessonSubject) {
        const subject = lessonSubject.replace(/;/gi, "<br/>");
        $("#modal-assunto-body").html(subject);
        ShowModal("modal-lesson-details");
    }
</script>