@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime

<div class="modal fade theme-bg" id="loggedRedirectModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content theme-bg theme-text">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLongTitle">Ops! 😅</h5>
            </div>
            <div class="modal-body py-5">
                Voce ja está logado bobinho!
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-blue" @onclick="Redirect">Inicio</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsStudent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("ShowModal", "loggedRedirectModal");
    }

    private async Task Redirect()
    {
        Navigation.NavigateTo($"/{(IsStudent ? "Student" : "Coordinator")}");
        await JsRuntime.InvokeVoidAsync("DisposeModal", "loggedRedirectModal");
    }
}