@using UniLink.Client.Site.Services

@inject ThemeService ThemeService

<div class="navbar shadow-sm">
    <a class="navbar-brand font-nav-title animated heartBeat delay-3s slower" href="">
        <span style="color: white;">Uni</span><span style="color: darkorange;">Link</span>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="mdi mdi-menu mdi-36px" style="color: white;" />
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column animated bounceIn">
        <li class="nav-item py-2">
            <NavLink class="nav-link waves-effect" href="" Match="NavLinkMatch.All">
                <span class="mdi mdi-home mdi-18px icon-margin-right"></span> Inicio
            </NavLink>
        </li>

        <li class="nav-item py-0">
            <NavLink class="nav-link waves-effect" href="/auth/user">
                <span class="mdi mdi-account mdi-18px icon-margin-right" aria-hidden="true"></span> Aluno
            </NavLink>
        </li>

        <li class="nav-item py-0">
            <NavLink class="nav-link waves-effect" href="/auth/admin">
                <span class="mdi mdi-account-star mdi-18px icon-margin-right" aria-hidden="true"></span> Administrador
            </NavLink>
        </li>
        <li class="nav-item py-0">
            <hr style="background-color: darkgrey;" />
        </li>
        <li class="nav-item py-0">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-auto py-0">
                        <span class="mdi mdi-theme-light-dark mdi-18px icon-margin-right white-text"></span>
                        <span class="white-text">Modo escudo: </span>
                    </div>
                    <div class="col-auto">
                        <label class="switch">
                            <input type="checkbox" @onchange="@ThemeService.ChangeTheme">
                            <span class="slider round">
                                <span class="mdi mdi-weather-night mdi-18px icon-margin-right white-text" style="margin-left: 5px;"></span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item py-0">
            <NavLink class="nav-link waves-effect" href="developers">
                <span class="mdi mdi-xml mdi-18px icon-margin-right" aria-hidden="true"></span> Desenvolvedores
            </NavLink>
        </li>

        <li class="nav-item py-0">
            <NavLink class="nav-link waves-effect" href="about">
                <span class="mdi mdi-information-variant mdi-18px icon-margin-right" aria-hidden="true"></span> Sobre
            </NavLink>
        </li>
    </ul>
</div>