@using UniLink.Client.Site.Services

@inject ThemeService ThemeService

<div class="navbar shadow-sm">
    <a class="navbar-brand font-nav-title animated heartBeat delay-3s slower" href="">
        <span style="color: white;">Uni</span><span style="color: darkorange;">Link</span>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="mdi mdi-menu mdi-36px" style="color: white;" />
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column animated bounceIn">
        <li class="nav-item py-2">
            <NavLink class="nav-link waves-effect" href="" Match="NavLinkMatch.All">
                <span class="mdi mdi-home mdi-18px icon-margin-right"></span> Inicio
            </NavLink>
        </li>
        <li class="nav-item py-0">
            @*<SfSwitch @bind-Checked="@darkMode" @onclick="ChangeTheme" />*@
            @*<div class="custom-control custom-switch justify-content-center">
                    <input type="checkbox" class="custom-control-input" @onclick="ChangeTheme" id="customSwitches">
                    <label class="custom-control-label info-color" for="customSwitches">Modo escuro: </label>
                </div>*@
            <button class="btn bg-transparent btn-block shadow-none waves-effect" data-toggle="button" aria-pressed="false" autocomplete="off" @onclick="ThemeService.ChangeTheme" style="color: white;">
                <span class="mdi mdi-palette mdi-18px icon-margin-right" aria-hidden="true"></span> Alterar Tema
            </button>
        </li>

        <li class="nav-item py-0">
            <NavLink class="nav-link waves-effect" href="developers">
                <span class="mdi mdi-xml mdi-18px icon-margin-right" aria-hidden="true"></span> Desenvolvedores
            </NavLink>
        </li>
        <li class="nav-item py-0">
            <NavLink class="nav-link waves-effect" href="about">
                <span class="mdi mdi-information-variant mdi-18px icon-margin-right" aria-hidden="true"></span> Sobre
            </NavLink>
        </li>
        <li class="nav-item py-0 admin-margin-top">
            <NavLink class="nav-link waves-effect" href="auth/user">
                <span class="mdi mdi-account mdi-18px icon-margin-right" aria-hidden="true"></span> Aluno
            </NavLink>
        </li>
        <li class="nav-item py-0">
            <NavLink class="nav-link waves-effect" href="auth">
                <span class="mdi mdi-account-star mdi-18px icon-margin-right" aria-hidden="true"></span> Administrador
            </NavLink>
        </li>
    </ul>
</div>