<div aria-hidden="true" id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
    <div class="show dark-mode">
        <h2>Tentando se conectar com o servidor, verifique sua conexao!</h2>
        <h4>Recarregue a página e tente novamente.</h4>
        <footer class="fixed-bottom mb-2">Se o problema persistir, entre em contato com os desenvolvedores</footer>
    </div>
    <div class="failed dark-mode">
        <h2>A conexao com o servidor falhou.</h2>
        <h4>Recarregue a página e tente novamente.</h4>
        <footer class="fixed-bottom mb-2">Se o problema persistir, entre em contato com os desenvolvedores</footer>
    </div>
    <div class="refused dark-mode">
        <h2>A conexao com o servidor foi recusada!</h2>
        <h4>Recarregue a página e tente novamente.</h4>
        <footer class="fixed-bottom mb-2">Se o problema persistir, entre em contato com os desenvolvedores</footer>
    </div>
</div>