@using UniLink.Client.Site.Helper

<div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
    <div class="show" style="@DataHelper.Theme">
        <p>
            Tentando se conectar com o servidor, verifique sua conexao!
        </p>
    </div>
    <div class="failed" style="@DataHelper.Theme">
        <p>
            A conexao com o servidor falhou.
        </p>
    </div>
    <div class="refused" style="@DataHelper.Theme">
        <p>
            A conexao com o servidor foi recusada!
        </p>
    </div>
</div>