@page "/login"

<div class=" d-flex justify-content-center">
    <div class="card form-login">

        <h3 class="card-header info-color white-text text-center py-3 title-form-login">
            <strong>Entrar</strong>
        </h3>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form class="text-center" style="color: #757575;" action="#">

                <!-- Email -->
                <div class="md-form">
                    <input type="email" id="email" class="form-control">
                    <label for="email">E-mail</label>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input type="password" id="password" class="form-control">
                    <label for="password">Password</label>
                </div>

                <!-- Sign in button -->
                <button class="btn btn-amber btn-rounded btn-block my-4 waves-effect z-depth-0 btn-form-login" type="submit">Entrar</button>

                <!-- Register -->
                <p>
                    Esqueceu sua senha?
                    <a href="#">Recuperar</a>
                </p>
            </form>
            <!-- Form -->

        </div>

    </div>
</div>
