@layout EmptyLayout
@page "/#devs"

<div class="devs">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Desenvolvedores</h2>
            <p class="text-center">C# the best</p>
        </div>
        <div class="row justify-content-center people">
            <div class="card col-md-6 col-lg-4 item  theme-bg theme-text">
                <div class="box">
                    <img class="rounded-circle" src="https://avatars0.githubusercontent.com/u/37851168">
                    <h3 class="name">Ruan Carlos CS</h3>
                    <p class="nick">Logikoz</p>
                    <div class="description">
                        <p>Estudante de Enganharia Elétrica</p>
                        <p>.Net Entusiasta</p>
                    </div>
                    <div class="social">
                        <a target="_blank" href="https://logikoz.net"><i class="mdi mdi-web"></i></a>
                        <a target="_blank" href="https://github.com/logikoz"><i class="mdi mdi-github"></i></a>
                        <a target="_blank" href="https://facebook.com/ruancarlosc.s"><i class="mdi mdi-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/logikoz"><i class="mdi mdi-twitter"></i></a>
                        <a target="_blank" href="https://instagram.com/logikozrc"><i class="mdi mdi-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="card col-md-6 col-lg-4 item theme-bg theme-text">
                <div class="box">
                    <img class="rounded-circle" src="https://avatars0.githubusercontent.com/u/40467826">
                    <h3 class="name">Marco Pandolfo</h3>
                    <p class="nick">Specko</p>
                    <div class="description">
                        <p>Corno 🐮</p>
                        <p>Backend Developer</p>
                    </div>
                    <div class="social">
                        <a target="_blank" href="https://github.com/marcopandolfo"><i class="mdi mdi-github"></i></a>
                        <a target="_blank" href="https://twitter.com/lolgamarco2"><i class="mdi mdi-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>