@{
    ViewData["Title"] = "Painel";
}

<ul>
    <li>
        <a href="/coordinator/students">
            Estudantes
        </a>
    </li>
    <li>
        <a href="/coordinator/disciplines">
            Disciplinas
        </a>
    </li>
    <li>
        <a href="/coordinator/lessons">
            Aulas
        </a>
    </li>
</ul>