@{
    ViewData["Title"] = "Painel";
}

<h5 class="text-center theme-text" style="font-weight: 500; margin: 10px">@ViewData["Title"]</h5>
<hr />

<ul>
    <li>
        <a href="/coordinator/students">
            Estudantes
        </a>
    </li>
    <li>
        <a href="/coordinator/disciplines">
            Disciplinas
        </a>
    </li>
    <li>
        <a href="/coordinator/lessons">
            Aulas
        </a>
    </li>
</ul>