@{
    ViewData["Title"] = "Painel";
}

<h3>Index Coordinator</h3>

<ul>
    <li>
        <a href="/coordinator/students">
            Estudantes
        </a>
    </li>
    <li>
        <a href="/coordinator/disciplines">
            Disciplinas
        </a>
    </li>
    <li>
        <a href="/coordinator/lessons">
            Aulas
        </a>
    </li>
</ul>