@page "/student"

<div class="container">
    <!-- Card -->
    <div class="justify-content-center d-flex container mt-3">
        <div class="card row nowrap-row" style="width: 24.5em; height: 6.8em;">
            <!-- Imagem -->
            <div class="" style="width: 100%; height: 100%; display: inherit">
                <img src="https://avatars0.githubusercontent.com/u/40467826?s=460&u=956e767c0001552f078535b9e4955b2574c9f32e&v=4" class="img-card-lesson rounded" alt="" />
                <!-- Titulo e descricao -->
                <div style="width: 55%; margin-top: 1.3rem !important;">
                    <h4 class="text-center w-100">Aula Eletronica</h4>
                    <div class="text-center">
                        <a href="#">Ver Descrição</a>
                    </div>
                </div>
                <!-- Icone -->
                <div style="margin-top: 1.3rem !important;">
                    <a href="#"><i class="mdi mdi-web mdi-36px"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->


    <div class="row justify-content-center d-flex">
        <div class="card col" style="margin:30px">
            <div class="row nowrap-row">
                <div class="col-md-10">
                    <div class="md-form">
                        <input type="text" id="inputPrefilledEx" class="form-control" />
                        <label for="inputPrefilledEx">Pesquisar</label>
                    </div>
                </div>
                <div class="col-md-auto">
                    <button class="btn shadow-none dropdown-toggle pd-10" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filtro
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <h6 class="dropdown-header text-center">Filtrar por</h6>
                        <a class="dropdown-item">Action</a>
                        <a class="dropdown-item">Another action</a>
                        <a class="dropdown-item">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-lg-center">
                <table class="table table-hover table-students theme-bg theme-text">
                    <thead>
                        <tr class="collapse">
                            <th scope="col">Disciplina</th>
                            <th scope="col">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-hover">
                            <td class="text-wrap col-12">Calculo</td>
                            <td class="text-wrap col">02/02/2020</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>