@page "/student"

<div class="container">
    <div class="row justify-content-center d-flex">
        <div class="card" style="width: 22em; height: 8em">
            <div class="row nowrap-row" style="height: 8em">
                <div class="col-3 image-lesson">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
                </div>

                <div class="col-7">
                    <h5>Calculo IV</h5>
                    <a class="card-text blue-text">
                        <u>Ver descriçao</u>
                    </a>
                    <span style="position: absolute;bottom: 0;left: 0">02/02/2020</span>
                </div>

                <div class="col-2 text-center">
                    <a class="blue-text" data-toggle="tooltip" title="Abrir aula">
                        <i class="mdi mdi-web"  style="font-size: 2em"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center d-flex">
        <div class="card col" style="margin:30px">
            <div class="row nowrap-row">
                <div class="col-md-10">
                    <div class="md-form">
                        <input type="text" id="inputPrefilledEx" class="form-control" />
                        <label for="inputPrefilledEx">Pesquisar</label>
                    </div>
                </div>
                <div class="col-md-auto">
                    <button class="btn shadow-none dropdown-toggle pd-10" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filtro
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <h6 class="dropdown-header text-center">Filtrar por</h6>
                        <a class="dropdown-item">Disciplina</a>
                        <a class="dropdown-item">Período</a>
                        <a class="dropdown-item">Data</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-lg-center">
                <table class="table table-hover table-students theme-bg theme-text">
                    <thead>
                        <tr class="collapse">
                            <th scope="col">Disciplina</th>
                            <th scope="col">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-hover">
                            <td class="text-wrap col-12">Calculo</td>
                            <td class="text-wrap col">02/02/2020</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>