@page "/coordinator/disciplines"

<h3>DisciplinesPage</h3>

<p>Dolore invidunt justo gubergren nonumy eos consequat consetetur invidunt nonummy justo ad magna elitr sit aliquyam sit invidunt dolore consetetur</p>