.list-disciplines
{
    margin-top: 20px;
}

@media (max-width: 400px)
{
    .list-disciplines
    {
        padding-left: 0;
        align-items: center;
    }
}

li.nav-item
{
    padding: 10px;
}

.nav-panel-margin
{
    margin-left: 10px
}

.uni-color
{
    color: white;
}

@media (max-width: 768px)
{
    .uni-color
    {
        color: #052767;
    }
}

.modal-dialog .modal-content
{
    border-radius: .7em
}

.btn-gradient
{
    background-image: linear-gradient(90deg, #052767 20%, #F16404 150%);
    border-radius: 2em;
    color: white;
}

    .btn-gradient:hover
    {
        color: white;
        font-size: 14px;
    }

.separator
{
    max-width: none;
    border-width: 1px;
    border-color: #A2A2A2;
}

.primary-color-bg
{
    background-color: #052767 !important;
}

.secondary-color-bg
{
    background-color: #F16404 !important;
}

.font-nav-title
{
    font-weight: bold !important;
    font-size: 21px !important;
}

.unselectable
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nosection-padding
{
    padding: 0 !important
}

#mainNav
{
    box-shadow: none
}

.footer-dark
{
    padding: 20px 0;
    color: #fff;
    background-color: #212121
}

    .footer-dark h3
    {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 16px
    }

    .footer-dark ul
    {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0
    }

        .footer-dark ul a
        {
            color: inherit;
            text-decoration: none;
            opacity: .6
        }

            .footer-dark ul a:hover
            {
                opacity: .8
            }

    .footer-dark .item.text
    {
        margin-bottom: 36px
    }

@media (max-width:767px)
{
    .footer-dark .item:not(.social)
    {
        text-align: center;
        padding-bottom: 20px
    }

    .footer-dark .item.text
    {
        margin-bottom: 0
    }
}

.footer-dark .item.text p
{
    opacity: .6;
    margin-bottom: 0
}

.footer-dark .item.social
{
    text-align: center
}

@media (max-width:991px)
{
    .footer-dark .item.social
    {
        text-align: center;
        margin-top: 10px
    }
}

.footer-dark .item.social > a
{
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255,255,255,.4);
    margin: 0 8px;
    color: #fff;
    opacity: .75
}

    .footer-dark .item.social > a:hover
    {
        opacity: .9
    }

.footer-dark .copyright
{
    text-align: center;
    padding-top: 10px;
    opacity: .7;
    font-size: 13px;
    margin-bottom: 0
}

.icon-margin-right
{
    padding-right: 10px;
}

.icon-margin-left
{
    padding-right: 10px;
}

html, body
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link
{
    color: #0366d6;
}

.btn-primary
{
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.app
{
    /*    position: relative;*/
    display: flex;
    flex-direction: column;
}

.top-row
{
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main
{
    flex: 1;
}

    .main .top-row
    {
        background-color: #f7f7f7;
        border-bottom: 100px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link
        {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child
        {
            text-overflow: ellipsis;
        }

.sidebar
{
    background-image: linear-gradient(150deg, #052767 20%, #F16404 150%);
}

    .sidebar .top-row
    {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand
    {
        font-size: 1.1rem;
    }

    .sidebar .oi
    {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item
    {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type
        {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type
        {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a
        {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active
            {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover
            {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.valid.modified:not([type=checkbox])
{
    outline: 1px solid #26b050;
}

.invalid
{
    outline: 1px solid red;
}

@media (max-width: 767.98px)
{
    .main .top-row:not(.auth)
    {
        display: none;
    }

    .main .top-row.auth
    {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link
    {
        margin-left: 0;
    }
}

@media (min-width: 768px)
{
    .app
    {
        flex-direction: row;
    }

    .sidebar
    {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row
    {
        position: sticky;
        top: 0;
    }

    .navbar-toggler
    {
        display: none;
    }

    .sidebar .collapse
    {
        display: block;
    }
}

.switch
{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-left: 6px;
}

    .switch input
    {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before
    {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        top: 2px;
        left: 4px;
        bottom: 4px;
        background-color: #CECECE;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider
{
    background-color: #2d2d2d;
}

input:focus + .slider
{
    box-shadow: 0 0 1px #2d2d2d;
}

input:checked + .slider:before
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round
{
    border-radius: 34px;
}

    .slider.round:before
    {
        border-radius: 50%;
    }

/* Menu */
.admin-margin-top
{
    margin-top: 30px;
}

/* STUDENTS ADMIN */
.table-students tbody tr td
{
    font-size: 1.1em;
}

.table-students thead tr th
{
    font-weight: bold;
}

.icons-td button
{
    border: 0;
    background-color: transparent;
}

    .icons-td button span
    {
        font-size: 1.3em;
    }

.icons-td
{
    padding: 0 !important;
    vertical-align: middle !important;
}

.button-circle-bottom
{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Students Lessons  */
.card-lesson
{
    width: 30em;
    height: 6em;
    border-radius: 2em;
    margin-left: 15px;
    margin-right: 15px;
}

.card-lesson-image
{
    position: absolute;
    height: 6em;
    width: 120px;
    border-radius: 2em 0em 0em 2em;
}

@media(max-width: 500px)
{
    .card-lesson-image
    {
        position: absolute;
        width: 75px;
        height: 45px;
        border-radius: 0;
        bottom: 25%;
        padding-left: 10px;
    }
}

.pd-10
{
    padding: 10px;
}

.nowrap-row
{
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;
}

    .nowrap-row .col-3
    {
        padding-right: 0;
        padding-left: 0;
    }

    .nowrap-row .col-8
    {
        padding-right: 0;
        padding-left: 0;
    }

    .nowrap-row .col-1
    {
        padding-right: 0;
        padding-left: 0;
    }

@media(max-width: 768px)
{
    .image-lesson
    {
        /*display: none*/
    }
}

/* Developers */
.devs
{
}

    .devs p
    {
        color: #7d8285;
    }

    .devs h2
    {
        font-weight: bold;
        padding-top: 20px;
        color: inherit;
    }

@media (max-width:767px)
{
    .devs h2
    {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.devs .intro
{
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

    .devs .intro p
    {
        margin-bottom: 0;
    }

.devs .people
{
    padding: 50px 0;
}

.devs .item
{
    text-align: center;
    margin: 10px;
}

    .devs .item .box
    {
        text-align: center;
        padding: 10px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .devs .item .name
    {
        font-weight: bold;
        margin-top: 28px;
        margin-bottom: 8px;
        color: inherit;
    }

    .devs .item .nick
    {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 13px;
    }

    .devs .item .description
    {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 20px;
    }

        .devs .item .description p
        {
        }

    .devs .item img
    {
        max-width: 160px;
    }

.devs .social
{
    font-size: 18px;
    color: #a2a8ae;
}

    .devs .social a
    {
        color: inherit;
        margin: 0 10px;
        display: inline-block;
        opacity: 0.7;
    }

        .devs .social a:hover
        {
            opacity: 1;
        }

.img-card-lesson
{
    width: 32%;
    height: 100%;
}

/*Login*/
.login-dark
{
    height: 1000px;
}

    .login-dark form
    {
        max-width: 320px;
        width: 90%;
        background-color: #212121;
        padding: 40px;
        border-radius: 4px;
        transform: translate(-50%,-50%);
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        box-shadow: 3px 3px 4px rgba(0,0,0,.2)
    }

    .login-dark .illustration
    {
        text-align: center;
        padding: 15px 0 20px;
        font-size: 100px;
        color: #052767
    }

    .login-dark form .form-control
    {
        background: 0 0;
        border: none;
        border-bottom: 1px solid #434a52;
        border-radius: 0;
        box-shadow: none;
        outline: 0;
        color: inherit
    }

    .login-dark form .btn-primary
    {
        background: #214a80;
        border: none;
        border-radius: 2em;
        padding: 11px;
        box-shadow: none;
        margin-top: 26px;
        text-shadow: none;
        outline: 0
    }

        .login-dark form .btn-primary:active, .login-dark form .btn-primary:hover
        {
            background: #214a80;
            outline: 0
        }

    .login-dark form .forgot
    {
        display: block;
        text-align: center;
        font-size: 12px;
        color: #6f7a85;
        opacity: .9;
        text-decoration: none
    }

        .login-dark form .forgot:active, .login-dark form .forgot:hover
        {
            opacity: 1;
            text-decoration: none
        }

    .login-dark form .btn-primary:active
    {
        transform: translateY(1px)
    }

.home-main-section
{
    height: 100vh;
}

.tr-lesson:hover
{
    cursor: pointer;
}

.main-navbar-aside
{
    -webkit-box-shadow: none !important;
}

.td-students-lesson
{
    vertical-align: middle !important;
}
