@{
    ViewData["Title"] = "Nao há curso cadastrado";
}

<section>
    <div>
        <div class="justify-content-center d-flex">
            <i class="mdi mdi-alert" style="padding: 50px; color: #ee4b28; font-size: 70px"></i>
        </div>

        <h3 class="justify-content-center text-center">Voce ainda nao cadastrou seu curso!</h3>

        <div class="justify-content-center d-flex">
            <a asp-action="AddCourse" asp-controller="Course" class="btn btn-primary waves-effect" style="border-radius: 2em">Adicionar Curso</a>
        </div>
    </div>
</section>