@using System.Net

@model ResultModel<CourseVO>

@{
    ViewData["Title"] = "Modificar Informaçoes do Curso";
}

@if (Model.StatusCode != HttpStatusCode.OK)
{
    <script>
        sendMessage("@Model.Message", "error");
    </script>
}

<div class="row h-100" style="margin-left: 0; margin-right: 0">
    <div class="col-sm-12 my-auto">
        
        <form method="post" asp-controller="Course" asp-action="UpdateCourse">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="md-form">
                        <input type="text" id="courseName" class="form-control theme-text" asp-for="Object.Name" />
                        <label for="courseName">Nome do Curso</label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="md-form">
                        <input type="number" id="periodsNumber" class="form-control theme-text" asp-for="Object.Periods" />
                        <label for="periodsNumber">Nº Periodos</label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-primary waves-effect justify-content-center">Salvar</button>
                </div>
            </div>
        </form>
    </div>    
</div>