@using System.Net

@model ResultModel<CourseVO>

@{
    ViewData["Title"] = "Modificar Informaçoes do Curso";
}

@if (Model != null)
{
    switch (Model.StatusCode)
    {
        case System.Net.HttpStatusCode.OK:
        case System.Net.HttpStatusCode.Created:
            break;
        default:
            <script>
                sendMessage("@Model.Message", "error");
            </script>
            break;
    }
}

<div class="row" style="margin-left: 0; margin-right: 0">
    <div class="col-sm-12 my-auto">
        <div class="text-center" style="padding-bottom: 2em; padding-top: 2em;">
            <span class="theme-text">Justo diam vel consetetur amet tempor amet ea quis amet facilisi tempor ut no et</span>
        </div>
        <form method="post" asp-controller="Course" asp-action="UpdateCourse">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="md-form">
                        <input type="text" id="courseName" class="form-control theme-text" asp-for="Object.Name" />
                        <label for="courseName">Nome do Curso</label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="md-form">
                        <input type="number" id="periodsNumber" class="form-control theme-text" asp-for="Object.Periods" />
                        <label for="periodsNumber">Nº Periodos</label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-primary waves-effect justify-content-center">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>