@using System.Net

@model ResponseResultModel<CourseVO>

@{
    ViewData["Title"] = "Adicionar Curso";
}

<h1 class="text-center">@ViewData["Title"]</h1>

@if (Model.StatusCode != HttpStatusCode.Created)
{
    <p class="red-text text-center">@Model.Message</p>
}

<div>
    <form method="post" asp-controller="Course" asp-action="AddCourse">
        <dl class="row">
            <dt class="col-sm-2">Nome do Curso</dt>
            <dd class="col-sm-10">
                <input asp-for="Object.Name" />
            </dd>
            <dt class="col-sm-2">Quantidade de periodos</dt>
            <dd class="col-sm-10">
                <input asp-for="Object.Periods" type="number" />
            </dd>
        </dl>

        <button>Adicionar</button>
    </form>
</div>