.theme-bg {
    background-color: #2d2d2d;
}

.theme-card {
    background-color: #313131
}

.card {
    background-color: #313131
}

.theme-text {
    color: white;
}

    .theme-text:focus {
        color: var(--theme-text)
    }

tr.tr-hover:hover {
    background-color: #444444 !important;
    color: white !important;
}