.theme-bg {
    background-color: white;
}

.theme-card {
    background-color: #f7f7f7
}

.card {
    background-color: #f7f7f7
}

.theme-text {
    color: black;
}

    .theme-text:focus {
        color: black;
    }