.theme-bg
{
    background-color: #2d2d2d;
}

.theme-card
{
    background-color: #313131
}

.theme-text
{
    color: white;
}

    .theme-text:focus
    {
        color: var(--theme-text)
    }

tr.tr-hover:hover
{
    background-color: #444444 !important;
    color: white !important;
}

.e-multi-select-wrapper .e-delim-values
{
    color: white;
}

.e-multi-select-wrapper .e-chips-close.e-close-hooker
{
    color: white;
}

.e-input-group .e-input-group-icon,
.e-input-group.e-control-wrapper .e-input-group-icon
{
    background: transparent;
    border-color: rgba(0, 0, 0, 0.42);
    color: white;
}

.e-multi-select-wrapper input[type='text']
{
    background: none;
    border: 0;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    height: 28px;
    min-height: 28px;
    outline: none;
    padding: 0;
    text-indent: 0;
    color: white;
}