@using UniLink.Client.Site.Components.Shared

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout)">
            <Authorizing>
                <p class="text-center py-5">Autenticando..</p>
            </Authorizing>
            <NotAuthorized>
                <p class="text-center py-5">Sem Permissao</p>
                <ul>
                    <li><a href="/auth/User">Entrar como Estudante</a></li>
                    <li><a href="/auth/admin">Entrar como Coordenador</a></li>
                </ul>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(Layout)">
                <h3>Ops! 😅</h3>
                <p>Não foi possível encontrar essa página, verifique se o link está correto!</p>
                <p><a href="/">Ir para o Inicio</a></p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>