@using UniLink.Client.Site.Components.Shared

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData">
            <Authorizing>
                <LayoutView Layout="typeof(EmptyLayout)">
                    <p class="text-center py-5">Autenticando...</p>
                </LayoutView>
            </Authorizing>
            <NotAuthorized>
                <LayoutView Layout="typeof(EmptyLayout)">
                    <div class="text-center">
                        <p class="py-5">Sem Permissao</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="/">Página Inicial</a></li>
                            <li class="list-group-item"><a href="/auth/student">Entrar como Estudante</a></li>
                            <li class="list-group-item"><a href="/auth/coordinator">Entrar como Coordenador</a></li>
                        </ul>
                    </div>
                </LayoutView>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="typeof(EmptyLayout)">
                <div class="text-center">
                    <h3>Ops! 😅</h3>
                    <p>Não foi possível encontrar essa página, verifique se o link está correto!</p>
                    <p><a href="/">Página Inicial</a></p>
                </div>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>