@using UniLink.Client.Site.Views.Shared

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h3>Ops! 😅</h3>
            <p>Não foi possível encontrar essa página, verifique se o link está correto!</p>
            <p><a href="">Ir para o Inicio</a></p>
        </LayoutView>
    </NotFound>
</Router>